<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="normal/base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>Course Details</title>
</head>
<body>
<section>

    <div class="container">
        <div class="row">
            <h2 class="text-center"> Course List </h2>
        </div>

        <table class="table table-striped table table-bordered">
            <thead class="table-dark">
            <tr>
                <th>Course Name</th>
                <th>Course Description</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="course: ${courses}">
                <td>
                    <a href="#" th:href="@{'/courses/'+${course.id}+'/topics'}">
                        <span th:text="${course.courseName}"></span>
                    </a>
                </td>
                <td><span th:text="${course.courseDesc}"></span></td>
            </tr>
            </tbody>
        </table>
    </div>
</section>
</body>
</html>